---
import Calendar from "~/calendar.svg?raw"
export interface Props {
    title: string;
    slug: string;
    date: string;
    description: string;
}
const {slug, title, date, description} = Astro.props;

const formattedDate = date.toLocaleString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
})
---
<li>
    <a href={`/posts/${slug}/`}><h2>{title}</h2></a>
    <span><Fragment set:html={Calendar}/> {formattedDate}</span>
    <p>{description}</p>
</li>
<style lang="sass">
    li
        @apply my-6
        :global(svg)
            transform: scale(0.6)
    a
        @apply inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0
    h2
        @apply text-lg font-medium decoration-dashed hover:underline
    span
        opacity: 0.8
        display: flex
        margin-left: -6px
        align-items: center
        @apply italic text-sm
</style>
